@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/
@import "style.scss"; /* old style SASS file */

html {
  width: 100%;
  margin: 0;
  border-top: 2px solid $link-hover;
}

body {
  width: 90%;
  overflow-x: hidden;
  display: block;
  clear: both;
  padding: 0;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: 13pt;
  color: black;
}

/* ----- ALL STUFF WE DID ----- */
/* Hero image*/

.hero {
  display: flex;
  top: 0;
  left: 0;
  width: 110vw;
  margin-left: -10%;
  margin-right: -10%;
  height: auto;
  padding: 0;
  margin-bottom: 0;
  justify-content: flex-start;
}

.text-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
}

.text-stack {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  p {
    margin: 0;
  }
}

.icon-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
}

.map {
  width: 100%;
  height: 287px;
  margin-bottom: 3rem;
}

.contact-header {
  margin-top: 1.25rem;
}

/* image row class */
.image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    margin: 0;
  }
}
.image-row-padding {
  padding-bottom: 0.625rem;
}
/* meet the team class */
.meet-the-team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: #ccc;
  border-style: solid;
  border-top-width: 1px;
}
.no-border {
  border-top: none;
}

.hero-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.our-story {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*------FOOTER-----*/

footer {
  background-color: #ffffff;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: #ccc;
  border-style: solid;
  border-top-width: 1px;

  .footer-container {
    display: flex;
    align-items: start;
    flex-wrap: wrap; /* allows stacking on small screens */
    justify-content: space-between;
    gap: auto;

    .footer-section {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      h4 {
        font-size: 19px;
        color: #000000;
        font-weight: 400;
      }

      p {
        margin: 0;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

/* java zoom effect */
.zoom-img {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

/* ----- END OF ALL STUFF WE DID ----- */
